[defaults]
inventory=hosts-aws
host_key_checking=False  # optional: removes the SSH prompt 
deprecation_warnings=False  # optional: removes deprecation warning in playbooks
ansible_python_interpreter=/usr/bin/python3