torch
pandas
tqdm
matplotlib
seaborn
requests
ipython 
gitpython
thop
torchvision
psutil
Pillow
scikit-image
imutils
imagezmq
simplejpeg
PyJWT
opencv-python
asyncpg
aioredis
aiofiles
databases
fastapi
minio
passlib
pydantic
pymongo
starlette
uvicorn
Jinja2
python-multipart
bcrypt
pyzmq
numpy
PyYAML
ultralytics
filterpy
